.counterContainer{
    width: 100%;
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    .counterWrapper{
        width: 60%;
        text-align: center;
        h2{
            color: hsl(var(--foreground));
            font-weight: bolder;
            font-size: 1em;
            label{
                color: hsl(var(--secondary));
                font-size: 5em;
                margin-left: 0.5em;
            }
        }
        .btnsWrapper{
            display: flex;
            margin-top: 2em;
            justify-content: space-between;
        }
        button{
            width: 230px;
            background-color: hsl(var(--card));
            border-radius: 30px;
            border: 3px solid hsl(var(--secondary));
            padding: 15px;
            font-weight: bolder;
            color: hsl(var(--card-foreground));
        }
        button:hover{
            background-color: hsl(var(--secondary));
            color: hsl(var(--secondary-foreground));
            transform: scale(1.01);
        }
    }
}